@page
@model RazorPagesMovie.Pages.Directors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Director.ID" />
            <input type="hidden" asp-for="Director.Home.DirectorID" />
            <div class="form-group">
                <label asp-for="Director.LastName" class="control-label"></label>
                <input asp-for="Director.LastName" class="form-control" />
                <span asp-validation-for="Director.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.FirstMidName" class="control-label"></label>
                <input asp-for="Director.FirstMidName" class="form-control" />
                <span asp-validation-for="Director.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.HireDate" class="control-label"></label>
                <input asp-for="Director.HireDate" class="form-control" />
                <span asp-validation-for="Director.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director.Home.Location" class="control-label"></label>
                <input asp-for="Director.Home.Location" class="form-control" />
                <span asp-validation-for="Director.Home.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                if (Model.DirectedMoviesDataList != null) {
                                    foreach (var m in Model.DirectedMoviesDataList){
                                        if (cnt++ % 3 == 0)
                                        {
                                            @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                name="selectedMovies"
                                                value="@m.MovieID"
                                                @(Html.Raw(m.Directed ? "checked=\"checked\"" : "")) />
                                                @m.MovieID @:  @m.Title
                                        @:</td>
                                    }
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
