@page
@model RazorPagesMovie.Pages.Studios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Studio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Studio.Name" class="control-label"></label>
                <input asp-for="Studio.Name" class="form-control" />
                <span asp-validation-for="Studio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.Budget" class="control-label"></label>
                <input asp-for="Studio.Budget" class="form-control" />
                <span asp-validation-for="Studio.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.StartDate" class="control-label"></label>
                <input asp-for="Studio.StartDate" class="form-control" />
                <span asp-validation-for="Studio.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.DirectorID" class="control-label"></label>
                <select asp-for="Studio.DirectorID" class ="form-control" 
                    asp-items="@Model.DirectorNameSL">
                <option value="">-- Select Director --</option>    
                </select>
                <span asp-validation-for="Studio.DirectorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
